{% extends "base_generic.html" %}

{% block content %}
  <h1>Order: {{ order.product_type.name }}</h1>
  <div style="margin-top:20px">

  <p><strong>Order ID:</strong> {{order.id}}</p>
  <p><strong>Quantity:</strong> {{ order.quantity }}</p>
  <p><strong>Price Per instance (£):</strong> {{ order.product_type.price }}</p>
  <p><strong>Supplier:</strong> {{ order.product_type.supplier }}</p>

  <div style="margin-top:20px">
    <p><strong>Orderer:</strong> {{ order.orderer }}</p>
    <p><strong>Date Created:</strong> {{ order.date_created }}</p>
    <p><strong>Requisition ID:</strong> {{ order.requisition_id }}</p>
    <p><a href="{% url 'order_update' order.id %}">Update Order</a></p>
    <p><a href="{% url 'order_delete' order.id %}">Delete Order</a></p>
  </div>
{% endblock %}
