{% extends "base_generic.html" %}

{% block content %}
  <h1>Orders</h1>
  {% if order_list %}
  <ul>
    {% for order in order_list %}
      <ul>
        <hr>
        <a href="{{ order.get_absolute_url }}">(Order ID :{{order.id}})</a> {{order.quantity}} x {{order.product_type}}
        <p>Requisition: {{order.requisition_id}}</p>
        <p class = "text-muted">User: {{order.orderer}}   |   Ordered: {{order.date_created}}</p>
      </ul>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no orders.</p>
  {% endif %}
{% endblock %}
