{% extends "base_generic.html" %}

{% block content %}
  <h1>Orders</h1>
  {% if order_list %}
  <ul>
    {% for order in order_list %}
      <ul {% if order.order_created %} class="list-group-item list-group-item-info",
          {% elif order.order_sent %} class="list-group-item list-group-item-warning",
          {% elif order.order_preceived %} class="list-group-item list-group-item-danger",
          {% elif order.order_complete %} class="list-group-item list-group-item-success",
        {% endif %}>
        <p><a href="{{ order.get_absolute_url }}">Order: {{order.id}}</a> - <strong>{{order.order_status}}</strong> | <a href="{% url 'requisition-detail' order.requisition_id.pk %}">Requisition: {{order.requisition_id}} ({{order.requisition_id.req_ref}})</a></p>
        <p>
          <i {% if order.urgency == "Urgent"%} class=" fas fa-exclamation-triangle",
            {% else %},
            {% endif %}></i>
          <i {% if order.order_issue == "Yes"%} class=" fas fa-dizzy",
            {% else %},
            {% endif %}></i> {{order.quantity}} x {{order.product_type}}</p>
        <p class = "text-muted">{{order.team}} | {{order.orderer}} | Requisitioned: {{order.requisition_id.date_sent}} | Lead Time: {{order.product_type.lead_time}} | Completed: {{order.date_delivered}}</p>
      </ul>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no orders.</p>
  {% endif %}
{% endblock %}
