{% extends "base_generic.html" %}

{% block content %}
  <h1>Product: {{ productinstance.product_type.name }}</h1>

  <div style="margin-top:20px">
    <p>
      <strong>Team:</strong>
      <a class="btn btn-outline-dark btn-sm" href="{% url 'team-detail' productinstance.team.pk %}">{{ productinstance.team }}</a>
    </p>
    <p>
      <strong>Storage:</strong>
      <a class="btn btn-outline-dark btn-sm" href="{% url 'storage-detail' productinstance.storage.pk %}">{{ productinstance.storage.name }} ({{productinstance.storage.location}})</a>
       ({{productinstance.storage.temp_range.minimum}}°C to {{productinstance.storage.temp_range.maximum}}°C)
    </p>
    <p>
      <strong>Supplier:</strong>
      <a  class="btn btn-outline-dark btn-sm" href="{% url 'supplier-detail' productinstance.product_type.supplier.pk %}">{{ productinstance.product_type.supplier }}</a>
    </p>
    <p>
      <strong>Description:</strong>
      {{ productinstance.product_type.description }}
    </p>
    <p>
      <strong>Price (£):</strong>
      {{ productinstance.product_type.price }}
    </p>
    <p class="text-muted"><strong>Instance ID:</strong> {{productinstance.id}}</p>
    <p class="text-muted"><strong>Date Updated:</strong> {{productinstance.date_updated}}</p>

    <div style="margin-top:20px">
      <form class="form-inline">
        <a class="btn btn-dark" href="{% url 'productinstance_update' productinstance.id %}">Update Product Instance</a>
        <div style="margin-left:5px"></div>
        <a class="btn btn-outline-danger"href="{% url 'productinstance_delete' productinstance.id %}">Delete Product Instance</a>
      </form>
    </div>

    <hr>
  </div>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Stock</h4>
      <p{% if productinstance.stock_is_low %} class="text-danger"{% endif %}><strong>Current Stock: </strong>{{ productinstance.stock }}</p>
      <p><strong>Minimum Stock:</strong> {{productinstance.minimum_stock}}</p>
      <a class="btn btn-outline-dark btn-sm" href="{% url 'productinstance-stock-update' productinstance.id %}?next={{ request.path|urlencode }}">Update Stock</a>
  </div>
{% endblock %}

<a class="btn btn-outline-dark btn-sm" href="{% url 'storage-detail' productinstance.storage.pk %}">
