{% extends "base_generic.html" %}

{% block content %}
  <h1>Product Instances</h1>
  {% if productinstance_list %}
  <ul>
    {% for productinstance in productinstance_list %}
      <ul {% if productinstance.stock_is_low %} class="list-group-item list-group-item-danger",
          {% else %} class = "list-group-item list-group-item-success"
          {% endif %}>
        <a href="{{ productinstance.get_absolute_url }}">{{ productinstance.product_type.name }}</a> ({{productinstance.team}}) - {{productinstance.id}}
        <p><strong>Current Stock: </strong>{{ productinstance.stock }} | <strong>Minimum Stock: </strong> {{productinstance.minimum_stock}}
        </p>
      </ul>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no product instances in the lab.</p>
  {% endif %}
{% endblock %}
