{% extends "base_generic.html" %}

{% block content %}
  <h1><strong>Product Stock Update: </strong>{{ productinstance.product_type.name }}</h1>
  <p><strong>Team: </strong>{{ productinstance.team.name }}</p>
  <p{% if productinstance.stock_is_low %} class="text-danger"{% endif %}><strong>Current Stock: </strong>{{ productinstance.stock }}</p>
  <p><strong>Minimum Stock: </strong>{{ productinstance.minimum_stock }}</p>

  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
