{% extends "base_generic.html" %}

{% block content %}
  <h1>Product: {{ producttype.name }}</h1>

  <!-- <p><strong>Supplier:</strong> <a href="">{{ supplier.name }}</a></p> <! author detail link not yet defined -->
  <p><strong>Supplier:</strong> <a href="{% url 'supplier-detail' producttype.supplier.pk %}">{{ producttype.supplier }}</a></p>
  <p><strong>Product Description:</strong> {{ producttype.description }}</p>
  <p><strong>EROS:</strong> {{ producttype.product_EROS }}</p>
  <p><strong>Price:</strong> {{ producttype.price }}</p>
  <!-- <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>   -->

  <div style="margin-left:20px;margin-top:20px">
    <h4>Instances</h4>

    {% for copy in producttype.productinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}
        <p><strong>Team:</strong> {{copy.team}}</p>
        <p><strong>Stored:</strong> {{copy.storage}}</p>
      {% endif %}
      <p><strong>Stock:</strong> {{copy.stock}}</p>
      <p><strong>Minimum Stock:</strong> {{copy.minimum_stock}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
