{% extends "base_generic.html" %}

{% block content %}
  <h1>Requisitions</h1>
  {% if requisition_list %}
  <ul>
    {% for requisition in requisition_list %}
      <ul {% if requisition.req_order %} class="list-group-item list-group-item-warning",
          {% elif requisition.req_sent %} class="list-group-item list-group-item-success",
        {% endif %}>
        <p><a href="{{ requisition.get_absolute_url }}">Requisition: {{ requisition.id }} ({{requisition.req_ref}})</a> - <strong>{{requisition.requisition_status}}</strong></p>
        <p >Created: {{requisition.date_created}} | Requisitioned: {{requisition.date_sent}}</p>
      </ul>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Requisitions.</p>
  {% endif %}
{% endblock %}

<p> </p>
