{% extends "base_generic.html" %}

{% block content %}
  <h1>Requisition ({{requisition.id}}): {{ requisition.req_ref }}</h1>
  <h2 {% if requisition.req_order %} class="text-warning",
      {% elif requisition.req_sent %} class="text-success",
    {% endif %}>{{requisition.requisition_status}}</h2>
  <div style="margin-top:30px" >
    <hr>
    <p><strong>Date Requisition Created:</strong> {{ requisition.date_created }}</p>
    <p><strong>Date Requisition Sent:</strong> {{ requisition.date_sent }}</p>
    <hr>
    <p><strong>Comments:</strong> {{ requisition.comments }}</p>
  </div>
  <div style="margin-top:30px">
    <div style="margin-top:20px">
      <form class="form-inline">
        <a class="btn btn-dark" href="{% url 'requisition_update' requisition.id %}">Update Requisition</a>
        <div style="margin-left:5px"></div>
        <a class="btn btn-outline-danger"href="{% url 'requisition_delete' requisition.id %}">Delete Requisition</a>
      </form>
    </div>
  </div>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Orders</h4>
    {% for copy in requisition.order_set.all %}
    <ul {% if copy.order_created %} class="list-group-item list-group-item-info",
        {% elif copy.order_sent %} class="list-group-item list-group-item-warning",
        {% elif copy.order_preceived %} class="list-group-item list-group-item-danger",
        {% elif copy.order_complete %} class="list-group-item list-group-item-success",
      {% endif %}>
      <p>
        <strong>Order ID: </strong> <a href="{% url 'order-detail' copy.pk %}"> {{copy.id}}</a> - <strong>{{copy.order_status}}</strong>
      </p>
      <p>
        <i {% if copy.urgency == "Urgent"%} class=" fas fa-exclamation-triangle",
          {% else %},
          {% endif %}>
        </i>
        <i {% if copy.order_issue == "Yes"%} class=" fas fa-dizzy",
          {% else %},
          {% endif %}>
        </i> {{copy.quantity}} x {{copy.product_type.name}}
      </p>
      <p><strong>Price per Instance: </strong> £ {{copy.product_type.price}}</p>
      <p><strong>Supplier: </strong> {{copy.product_type.supplier}}</p>
      <p class = "text-muted">{{copy.team}} | {{copy.orderer}} | Requisitioned: {{copy.requisition_id.date_sent}} | Completed: {{copy.date_delivered}}</p>

      <div style="margin-top:20px">
        <form class="form-inline">
          <a class="btn btn-outline-primary" href="{% url 'order_update' copy.id %}">Update Order</a>
          <div style="margin-left:5px"></div>
          <a class ="btn btn-outline-danger" href="{% url 'order_delete' copy.id %}">Delete Order</a>
        </form>
      </div>


    </ul>
    {% endfor %}
  </div>
{% endblock %}
