{% extends "base_generic.html" %}

{% block content %}
  <h1>Requisitions</h1>
  {% if requisition_list %}
  <ul>
    {% for requisition in requisition_list %}
      <li>
        <hr>
        <a href="{{ requisition.get_absolute_url }}">Requisition: ({{ requisition.id }}): {{requisition.req_ref}}</a>
        <p> {{requisition.team}} - {{requisition.supplier}} ({{requisition.date_created}})</p>
        <p> Requisitions Status: {{requisition.requisition_status}}</p>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Requisitions.</p>
  {% endif %}
{% endblock %}
