{% extends "base_generic.html" %}

{% block content %}
  <h1>Storage: {{ storage.name }}</h1>

  <p><strong>Location:</strong> {{ storage.location }}</p>
  <p><strong>Temperature Range (°C):</strong> {{ storage.temp_range.minimum }} - {{storage.temp_range.maximum}}</p>
  <p><a href="{% url 'storage_update' storage.id %}">Update Storage Location</a></p>
  <p><a href="{% url 'storage_delete' storage.id %}">Delete Storage Location</a></p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Instances</h4>

    {% for copy in storage.productinstance_set.all %}
      <hr>
      <p><strong>Product: </strong> {{copy.product_type}}</p>
      <p><strong>Team: </strong>{{copy.team}}</a></p>
      <p{% if copy.stock_is_low %} class="text-danger"{% endif %}><strong>Current Stock: </strong>{{ copy.stock }}</p>
      <p><strong>Minimum Stock: </strong> {{copy.minimum_stock}}</p>
      <a href="{% url 'productinstance-stock-update' copy.id %}?next={{ request.path|urlencode }}">Update Stock</a>
      <p class="text-muted"><strong>Last Updated:</strong> {{copy.date_updated}}</p>
      <p class="text-muted"><strong>Id: </strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
