{% extends "base_generic.html" %}

{% block content %}
  <h1>Storage: {{ storage.name }}</h1>

  <p><strong>Location:</strong> {{ storage.location }}</p>
  <p><strong>Temperature Range (°C):</strong> {{ storage.temp_range.minimum }} - {{storage.temp_range.maximum}}</p>

  <div style="margin-top:20px">
    <form class="form-inline">
      <a class="btn btn-dark" href="{% url 'storage_update' storage.id %}">Update Storage Location</a>
      <div style="margin-left:5px"></div>
      <a class="btn btn-outline-danger"href="{% url 'storage_delete' storage.id %}">Delete Storage Location</a>
    </form>
  </div>

  <div style="margin-left:20px;margin-top:20px">
    <h3>Instances</h3>

    {% for copy in storage.productinstance_set.all %}
    <ul {% if copy.stock_is_low %} class="list-group-item list-group-item-danger",
        {% else %} class = "list-group-item list-group-item-success"
        {% endif %}>
      <h4>{{copy.product_type}}</h4>
      <p><strong>Team: </strong><a href ="{% url 'team-detail' copy.team.pk %}">{{copy.team}}</a></p>
      <p>
        <strong>Current Stock: </strong>{{ copy.stock }} |
        <strong>Minimum Stock: </strong> {{copy.minimum_stock}}
        <a class="btn btn-outline-dark btn-sm" href="{% url 'productinstance-stock-update' copy.id %}?next={{ request.path|urlencode }}">Update Stock</a>
      </p>
      <p class="text-muted">
        <strong>Last Updated:</strong> {{copy.date_updated}} |
        <strong>Id: </strong> {{copy.id}}
      </p>
    </ul>
    {% endfor %}
  </div>
{% endblock %}
