{% extends "base_generic.html" %}

{% block content %}
  <h1>Supplier: {{ supplier.name }}</h1>

  <p><strong>Phone:</strong> {{ supplier.phone }}</p>
  <p><strong>Email:</strong> {{ supplier.email }}</p>
  <p><strong>Agent:</strong> {{ supplier.agent }}</p>
  <p><a href="{% url 'supplier_update' supplier.id %}">Update Supplier</a></p>
  <p><a href="{% url 'supplier_delete' supplier.id %}">Delete Supplier</a></p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Products Supplied</h4>

    {% for copy in supplier.producttype_set.all %}
      <hr>
      <p><strong>Product:</strong> <a href="{% url 'product-type-detail' copy.id %}">{{copy.name}}</a> </p>
      <p><strong>Price:</strong> {{copy.price}}</p>
      <p><strong>Description:</strong> {{copy.description}}</p>
      <p class="text-muted"><strong>Product EROS:</strong> {{copy.product_EROS}}</p>
      {% endfor %}
  </div>
{% endblock %}
