{% extends "base_generic.html" %}

{% block content %}
  <h1>Supplier: {{ supplier.name }}</h1>

  <p><strong>Phone:</strong> {{ supplier.phone }}</p>
  <p><strong>Email:</strong> {{ supplier.email }}</p>
  <p><strong>Agent:</strong> {{ supplier.agent }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Products</h4>

    {% for copy in supplier.producttype_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}
        <p><strong>Product:</strong> {{copy.name}}</p>
      {% endif %}
      <p><strong>Price:</strong> {{copy.price}}</p>
      <p><strong>Description:</strong> {{copy.description}}</p>
      <p class="text-muted"><strong>Product Eros:</strong> {{copy.product_EROS}}</p>
    {% endfor %}
  </div>
{% endblock %}
