{% extends "base_generic.html" %}

{% block content %}
  <h1>Team: {{ team.name }}</h1>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Product Instances</h4>

    {% for copy in team.productinstance_set.all %}
      <hr>

      <p><strong>Product:</strong> {{copy.product_type}}</p>
      <p><strong>Stored:</strong> {{copy.storage}} ({{copy.storage.location}})</p>
      <p{% if copy.stock_is_low %} class="text-danger"{% endif %}><strong>Current Stock: </strong>{{ copy.stock }}</p>
      <p><strong>Minimum Stock:</strong> {{copy.minimum_stock}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>

    {% endfor %}
  </div>
{% endblock %}
