{% extends "base_generic.html" %}

{% block content %}
  <h1>Team: {{ team.name }}</h1>
  <p><a href="{% url 'team_update' team.id %}">Update Team</a></p>
  <p><a href="{% url 'team_delete' team.id %}">Delete Team</a></p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Product Instances</h4>

    {% for copy in team.productinstance_set.all %}
    <ul  {% if copy.stock_is_low %} class="list-group-item list-group-item-danger",
        {% else %} class = "list-group-item list-group-item-success"
        {% endif %}>
      <h4>{{copy.product_type}}</h4>
      <p><strong>Stored:</strong> <a href="{% url 'storage-detail' copy.storage.pk %}"> {{copy.storage}} </a> ({{copy.storage.location}})</p>
      <p><strong>Current Stock: </strong>{{ copy.stock }}</p>
      <p><strong>Minimum Stock:</strong> {{copy.minimum_stock}}</p>
      <a href="{% url 'productinstance-stock-update' copy.id %}?next={{ request.path|urlencode }}">Update Stock</a>
      <p class="text-muted"><strong>Last Updated:</strong> {{copy.date_updated}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    </ul>

    {% endfor %}
  </div>
{% endblock %}
