<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Product Ordering Database (POD)</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <div style="margin-top:20px">
            <li><a href="{% url 'team' %}">All Teams</a></li>
            <li><a href="{% url 'storage' %}">All Storage Locations</a></li>
            <li><a href="{% url 'producttype' %}"> All Product Types</a></li>
            <li><a href="{% url 'productinstance' %}">All Product Instances</a></li>
            <li><a href="{% url 'supplier' %}"> All Suppliers</a></li>
            <li><a href="{% url 'order' %}">All Orders</a></li>
            <li><a href="{% url 'requisition' %}">All Requisitions</a></li>
          </div>
        </ul>
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
    <div style="margin-top:20px"></div>
      <li>User: {{ user.get_username }}</li>
      <li><a href="{% url 'requisition_create' %}">Create Requisition</a></li>
      <li><a href="{% url 'order_create' %}">Create Order</a></li>
      <li><a href="{% url 'my-ordered' %}">My Orders</a></li>
     <div style="margin-top:20px"></div>
       <li><a href="{% url 'productinstance_create' %}">New Product Instance</a></li>
       <li><a href="{% url 'team_create' %}">New Team</a></li>
       <li><a href="{% url 'product_type_create' %}">New Product Type</a></li>
       <li><a href="{% url 'supplier_create' %}">New Supplier</a></li>
       <li><a href="{% url 'storage_create' %}">New Storage Location</a></li>
       <li><a href="{% url 'temperature_create' %}">New Temperature Range</a></li>
       <li><a href="{% url 'temperature' %}">All Temperature Ranges</a></li>
     <div style="margin-top:20px"></div>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}

  </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}
        {% block pagination %}
          {% if is_paginated %}
            <div class="pagination">
              <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                  <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                </span>
                {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
              </span>
            </div>
          {% endif %}
        {% endblock %} </div>
    </div>
  </div>
</body>
</html>
