{% extends "base_generic.html" %}

{% block content %}
  <h1>Product Ordering Database (POD)</h1>
  <p>Welcome to POD, a website developed by <em>Andrew Smith</em>!</p>
  <h2 >Useful Statistics</h2>
  <p>POD has the following record counts:</p>
  <ul>
    <li><strong>Product Types:</strong> {{ num_prod }}</li>
    <li><strong>Product Instances:</strong> {{ num_instances }}</li>
    <li><strong>Suppliers:</strong> {{ num_suppliers }}</li>
  </ul>
  <h2>Order Statistics</h2>
  <ul>
    <li><strong>Unassigned Orders:</strong> {{ num_order_incomplete }}</li>
    <li><strong>Awaiting Orders:</strong> {{ num_order_sent }}</li>
    <li><strong>Part Received Orders:</strong> {{ num_order_preceived }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}
